html, body {
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    margin: 0px;
    padding: 0px;
}
md-content {
    background: white;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
md-list-item > button {
    width:100%;
    text-align:left !important;
}
md-grid-list{
    margin: 8px;
}
md-grid-tile{
    background-size: cover;
    transition: all 300ms ease-out 50ms;
}
#content md-grid-tile-footer{
    display: none;
}
#content md-grid-tile:hover md-grid-tile-footer{
    display: flex;
}
md-sidenav {
    max-width: 200px;
}
md-list#menu md-list-item {
    width: 125px;
    padding: 0;
    margin: 0;
}
md-list#menu md-list-item#menu_head {
    color: white;
    background-color: black;
}
md-list-item.active {
    color: white;
    background-color: rgba(0,0,0,0.6);
}
md-list#menu md-list-item .md-button {
    width: 100%;
    padding: 4px;
    margin: 0;
    text-align: left;
    text-transform: none;
}
md-list#menu {
    padding: 0;
    margin: 30px 0 0 0;
    padding-left: 37px;
}
#logo {
    max-height: 250px;
    margin-top: 8px;
    background: url('../img/logo.png') no-repeat center center;
    background-size: contain;
    outline: none;
    cursor: pointer;
}

md-grid-tile {
    outline: none;
    background-position: center center;
    background-repeat: no-repeat;
}

#project-header {
    background-position: center center;
    height: 300px;
}
