<!DOCTYPE html>
<html lang="en" >
<meta charset="utf-8">
<head>
    <meta name="description" content="Angular Material: Installing with NPM">
    <link rel="stylesheet" href="https://rawgit.com/angular/bower-material/master/angular-material.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>
<body ng-app="MyApp" ng-controller="AppCtrl as main" layout="column">
<div class="container" layout="row" flex>
    <md-sidenav
            layout="column"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')"
            class="md-whiteframe-0dp">

        <div layout="row" flex id="logo" layout-align="center center" ng-click="navigateTo('')"></div>
        <md-list id="menu">
            <md-list-item id="menu_head">
                <md-button>
                    Menu
                </md-button>
            </md-list-item>
            <md-list-item ng-class="{'active': getLocation() == '/about'}">
                <md-button ng-click="navigateTo('about')">
                    O mnie
                </md-button>
            </md-list-item>
            <md-list-item ng-class="{'active': (getLocation() == '/portfolio' || getLocation() == '/')}">
                <md-button ng-click="navigateTo('portfolio')">
                    Portfolio
                </md-button>
            </md-list-item>
            <md-list-item ng-class="{'active': getLocation() == '/contact'}">
                <md-button ng-click="navigateTo('contact')">
                    Kontakt
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <md-content flex id="content" class="lightgreen" flex>
        <md-button
            ng-click="toggleList()"
            hide-gt-sm
        ><md-icon>menu</md-icon></md-button>
        <div ng-view></div>
    </md-content>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-aria.min.js"></script>
<script src="https://rawgit.com/angular/bower-material/master/angular-material.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>
