<md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-gt-sm="3" md-row-height="14:10" md-gutter="12px" >
             <md-grid-tile ng-style="{'background-image': 'url(images/' + project.id + '/background.jpg)'}" ng-click="$parent.navigateTo('portfolio/' + project.id)" ng-repeat="project in $parent.projects"">
                <md-grid-tile-footer >
                    <h3>{{project.title}}</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
 </md-grid-list>