<div layout="column" layout-padding>
    <div id="project-header" flex layout="row" ng-style="{'background-image': 'url(images/' + project.id + '/header.jpg)'}"></div>
    <div id="project-description">
        {{project.title}}
    </div>
</div>
<md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-gt-sm="3" md-row-height="1:1" md-gutter="12px" >
    <md-grid-tile ng-style="{'background-image': 'url(images/' + project.id + '/1.jpg)'}">
        <md-grid-tile-footer >
            <h3>{{project.title}}</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
</md-grid-list>